@font-face { 
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

:root{
    --AddText_color: #647382;
    --MainText_color: #000000;
    --DivBack_Color: #F9F8F5;
}

#head{
    margin-top: 10px;
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    background-color: var(--DivBack_Color);
}

.header{
    font-family: GothamProLight;
    text-decoration: none;
    color: var(--MainText_color);  
    display: inline-flex;
    flex-direction: column;
}

h1{
    font-family: GothamProLight;
    width: 1233px;
    height: 140px;
    left: 197px;
    top: 0px;
    font-weight: 300;
    font-size: 60px;
    line-height: 116%;
    padding-left: 197px;
    color: var(--MainText_color);
    margin: 0px 10px;
    text-decoration: none;
}

p{
    font-family: GothamProLight;
}

#img1{
    width: 100%;
  /*  height: 720px;*/
    left: 0px;
    top: 0px;
}

.miniflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.tag{
    display: inline-flex;
    font-family: GothamProLight;
    border: 1px;
    border-style: solid;
    border-color: var(--AddText_color);
    padding: 1px;
    color: var(--AddText_color);
    border-radius: 2px;
    text-decoration: none;
}

.MainText {
    font-family: GothamProLight;
    width: 899px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 180%;
    color: var(--MainText_color);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.NotMainText{
    font-family: GothamProLight;
    color: var(--MainText_color);
}

.Under{
    font-family: GothamProLight;
    font-weight: bold;
    text-decoration: underline;
}

#add1{
    font-family: GothamProLight;
    width: 899px;
    height: 252px;
    left: 0px;
    top: 0px;
    font-size: 36px;
    line-height: 116%;
    color: var(--AddText_color);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.div_main{
    margin-top: 10px;
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.divCard{
    display: inline-flex;
    flex-direction: column;
}

#div1{
    flex-basis: 11%;
    border: 1px;
}

#div2{
    flex-basis: 80%;
}

#smallbox{
    padding-top: 10px;
}

#img2{
    width: 98%;
    left: 0px;
    top: 0px;
}

.hrefimg{
    width: 25%;
    height: 25%;
}

.hrefimg2{
    padding-top: 10px;
    width: 20%;
    height: 20%;
}

li{
    font-family: GothamProLight;
}

#add2{
    margin-top: 10px;
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: var(--DivBack_Color);
}

#add3{
    font-size: 36px;
    top: 35px;
}

.href{
    font-family: GothamProLight;
    padding: 1px;
    text-decoration: none;
    color: var(--MainText_color);
    font-size: 18px;
}

#href2{
    font-family: GothamProLight;
    padding: 1px;
    text-decoration: none;
    color: var(--MainText_color);
    font-size: 18px;
    text-align: center;
}

#img3{
    display: block;
    margin-left: auto;    
    margin-right: auto;
}

.date{
    font-family: GothamProLight;
    color: var(--AddText_color);
    font-size: 18px;
    font-weight: bold;
}

.SmallH{
    font-family: GothamProLight;
    font-weight: bold;
    font-size: 31px;
}

.time{
    font-family: GothamProLight;
    color: var(--AddText_color);
    font-size: 18px;
}

#add6{
    font-family: GothamProLight;
    color: var(--AddText_color);
}

#add4{
    font-family: GothamProLight;
    text-align: center;
    font-weight: bold;
}

#add5{
    font-family: GothamProLight;
    text-align: center;
}

.label{
    text-align: center;
    font-family: GothamProLight;
}

.none{
    list-style-type: none;
}

#subscribe{
    font-family: GothamProLight;

}