@font-face { 
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

.header{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;  
}

/*#header1{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;
}

#header2{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;
}

#header3{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;
}

#header4{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;
}

#header5{
    font-family: GothamProLight;
    text-decoration: none;
    color: #000000;
}*/

h1{
    font-family: GothamProLight;
    width: 1233px;
    height: 140px;
    left: 197px;
    top: 0px;
    font-weight: 300;
    font-size: 60px;
    line-height: 116%;
    padding-left: 197px;
    color: #000000;
    margin: 0px 10px;
    text-decoration: none;
}

p{
    font-family: GothamProLight;
}

#img1{
    width: 100%;
  /*  height: 720px;*/
    left: 0px;
    top: 0px;
}

.tag{
    font-family: GothamProLight;
    border: 1px;
    border-style: solid;
    border-color: #647382;
    padding: 1px;
    color: #647382;
    border-radius: 3px;
    text-decoration: none;
}

.MainText {
    font-family: GothamProLight;
    width: 899px;
    left: 0px;
/*    top: 2px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
    /*flex: none;
    order: 1;
    flex-grow: 0;*/
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.NotMainText{
    font-family: GothamProLight;
    color: #000000;
}

:root{
    --MainText_color: #647382;
}

.Under{
    font-family: GothamProLight;
/*   color:var(--MainText_color);*/
    font-weight: bold;
    text-decoration: underline;
}

#add1{
    font-family: GothamProLight;
    width: 899px;
    height: 252px;
    left: 0px;
    top: 0px;
  /*  font-style: normal;
    font-weight: normal;*/
    font-size: 36px;
    line-height: 116%;
    color: var(--MainText_color);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.div_main{
    margin-top: 10px;
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.divCard{
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#div1{
    flex-basis: 11%;
    border: 1px;
}

#div2{
    flex-basis: 80%;
/*    margin-left: 10%;*/
}

#smallbox{
    padding-top: 10px;
}

#img2{
    width: 98%;
    left: 0px;
    top: 0px;
}

.hrefimg{
    width: 2.5%;
    height: 2.5%;
}

li{
    font-family: GothamProLight;
}

#add2{
    margin-top: 10px;
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: #F9F8F5;
}

#add3{
    font-size: 36px;
    top: 35px;
}

.href{
    font-family: GothamProLight;
    padding: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

#href2{
    font-family: GothamProLight;
    padding: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

#img3{
    display: block;
    margin-left: auto;    
    margin-right: auto;
}

#add4{
    font-family: GothamProLight;
    text-align: center;
    font-weight: bold;
}

#add5{
    font-family: GothamProLight;
    text-align: center;
}

.label{
    font-family: GothamProLight;
}